<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - Tables_2 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tables_2 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Tables_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55B44D641B4A66C10099D3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B44D781B4A66C10099D3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B44D811B4A66C20099D3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B44D901B4A66C20099D3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
